@import './../../theme/variables';

ion-content {
    --background: #fff url("~/assets/img/background-3.jpg") no-repeat center center / cover;
 }

 
 ion-header{background:$myBg;}
 ion-toolbar{background:$myBg;}
#myMap{z-index: 1;}
 ion-input{
    border: solid grayscale($color: #5f5959) 0.1px;  margin-top: 7px;height: 32px;border-radius: 5px;padding:5px !important;
}
.location-icon{position: absolute; top: 70%; right: 10px; width: 31px; 
	height: 31px;text-align: center;line-height: 41px; background: #fff;
	cursor: pointer;z-index: 999;border-radius: 100%}
.pickup-btn{margin: 0; display: block;position: absolute;z-index: 999;
	left: 0; right: 0; bottom: 50px;}
.date-time-selecation{position: absolute; top: 68px; left: 0; right: 0; 
	width: 72%; background: #ffffffa6; padding: 0; border-radius: 5px; 
	box-shadow: 0px 0px 5px #525252; z-index: 1;}
.date-time-selecation{

	ion-datetime{padding: 0;}
}
.date-time-selecation{
	ion-input{
			font-size: 12px;
	}
}
.md{

	.pickup-btn{bottom: 59px;}
}