
.my-menu-fab{margin-top: 10px;}

.menu-content{
    z-index: 9;
    width: 100%;
    padding: 0;
    position: absolute;
}
.my-menu-fab{
        cursor: pointer;
        background: #ffffff94;
        color: #353535;
        padding: 6px;
        border-radius: 4px;
        line-height: 13px;
        font-size: 25px; 
}