<ion-header>
  <ion-toolbar color="dark">
    
    <ion-thumbnail slot="start">
      <img src="assets/img/logo-1.png" size="small" >
    </ion-thumbnail>
    <ion-title>Register</ion-title>
    <ion-buttons slot="end">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <ion-row>
    <ion-col class="register-form" size="12" size-sm="10" offset-sm="1" size-md="8" offset-md="2" size-lg="6" offset-lg="3" size-xl="4"
      offset-xl="4">

      <ion-label >Email: </ion-label>
      <!-- Input with clear button when there is a value -->
      <ion-input type="email" inputmode="email" pattern="email" clearInput value="" [(ngModel)]="credentials.email"   ></ion-input>

      <br/>

      <ion-label position="fixed">Password: </ion-label>
      <!-- Input with clear button when there is a value -->
      <ion-input type="password" inputmode="email" pattern="password" clearInput value="" [(ngModel)]="credentials.pw"   ></ion-input>
      
      <br/>

      <ion-label position="fixed">Re type password: </ion-label>
      <!-- Input with clear button when there is a value -->
      <ion-input type="password" inputmode="email" pattern="password" clearInput value="" [(ngModel)]="credentials.pw2"   ></ion-input>
      
      <br/>
      <ion-button (click)="register()" expand="block" color="dark" >Submit</ion-button>


    </ion-col>
  </ion-row>

 
</ion-content>
